<div>
<h1>hello angular</h1>
<input [(ngModel)]="firstname" />
<h3>My Name is :{{firstname}}</h3>
<button (click)="ClearText()">Cleare Me</button>
<p>
    <span>Set Access Level :</span><input placeholder="limit|full" [(ngModel)]="getaccess"/>
</p>
<p>
   if you can use of full option , you must pay $
  
   Pay <input [(ngModel)]="price" /> per Day .
</p>
<small>with : {{price |  number:0 | toRial}} you can use of all options !</small>

</div>
<div>
    <app-login [accesslvl]="getaccess"></app-login>

</div>
<div>
    <app-ui [accesslvl]="getaccess"></app-ui>
</div>
