table{
    border: 1px solid lightgray;
}
tr,td {
  border: 8px solid lightgrey !important;
  padding: 4px;
 
}

.limit {
  color:red;
  border :1px solid lightgray;
}

.full{
  color :green;
  border: 1px solid black;
}